<p>Name: <%= @animal.name %></p>
<p>Admission Date: <%= @animal.admission_date %></p>
<p>Animal Type: <%= @animal.animal_type %></p>

<form method="POST" action="/animals/<%= @animal.id %>">

</form>
