<h2>Current Pets</h2>

<% @animals.each do |animal| %>
<h3>Name</h3>
<p><%= animal.name %></p>
<p>Admission Date: <%= animal.admission_date %></p>
<p>Available for adoption? <%= animal.adoptable %></p>
<a href="/animals/<%= animal.id %>">More/Edit</a>
<hr/>
<% end %>
