<h2>Add a new Animal</h2>

<form class="" method="POST" action="/animals/index">
  <p><label for="name">Name: </label>
  <input type="text" name="name"></p>
  <p><label for="admission_date">Admission Date: </label>
  <input type="date" name="admission_date"></p>
  <p><label for="adoptable">Ready for Adoption? </label>
  <select name="adoptable">
    <option>Yes</option>
    <option>No</option>
  </select></p>
  <p><label for="animal_type">Animal Type</label>
  <input type="text" name="animal_type"></p>
  <p><label for="adoption_status">Adoption status: </label>
  <select name="adoption_status">
    <option>Adoptable</option>
    <option>Unadoptable</option>
  </select></p>
<p><label for="image">Image: </label>
<input type="text" name="image"></p>
  <p><input type="submit" value="Submit"></p>
</form>



:name, :admission_date, :adoptable, :animal_type, :adoption_status, :image
