<h2>Let's make a new adoption! When you are ready press the button below</h2>
<div class="adoption-img-container">
  <div class="adoption-img">
    <button id="adopt-button" type="button" name="adopt-button"><a href="adoptions/new">Adopt!</a></button>
    <img src="/img/adoption_pic.jpg" alt="Girl and pup sharing a lovely ice cream together">
  </div>
</div>
