<div class="container">
  <div class="pets-half">
    <button id="pets-button" type="button" name="button"><a href="/animals/index">View Pets</a></button>
  </div>
  <div class="owner-half">
    <button id="owner-button" type="button" name="button"><a href="/owners/index">View Owners</a></button>
  </div>
</div>
