<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scottish Animal Shelter</title>
      <link rel="stylesheet" href="/stylesheet.css">
  </head>
  <body>
    <h1>Welcome to the Scottish Animal Shelter</h1>
    <hr/>
    <%= yield %>
  </body>
</html>
