body {
  background-color: #EF9A9A;
  font-family: 'Courier'
}

h1 {
  text-align: center;
}

h2 {
  text-decoration: underline;
}

nav {
  background-color: #926B7A;
  padding-top:2px;
  padding-bottom: 2px
}

nav ul {
  text-align: center;
}

nav li {
  display: inline;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

nav ul li a {
  text-decoration: none
	}

nav ul li a:hover {
	color: #000;
	background-color: #765561;
	}

.bold-text {
  font-weight: bold;
}
