body {
  background: linear-gradient(#9cbcdc, #576c82);
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  text-align: center;
  background-color: #91d9d7;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  color: #7490AD;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

nav {
  background-color: #97cf8c
  padding-top:2px;
  padding-bottom: 2px;
}

footer {
  background-color: #96eea7;
  height: 54px;
  text-align: center;
  margin-top: 50px;
}

footer p {
  margin-top: 0;
  padding-top: 10px;
}

nav ul {
  text-align: center;
}

nav li {
  display: inline;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
	}

nav ul li a:hover {
	color: #7490AD;
	background-color: #91d9d7;
	}

.container {
  display: flex;
  flex-direction: row;
  background-color: #FFF;
}

.container a:hover {
  background-color: #f0e7bc;
}

.pets-half {
  width: 50%;
  height: 380px;
  background-color: red;
  background: url('img/dog.jpg');
  background-size: 100%;
}

.owner-half {
  width: 50%;
  height: 380px;
  background-color: blue;
  background: url('img/owner.jpg');
  background-size: 100%;
}

/* Pets page */
.pets-container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.pet {

}


.animal-images {
  width: 200px;
  height: 200px;
  float: right;
  align-self: flex-end;
}

#pets-button {
  height: 20%;
  width: 35%;
  background: rgba(255, 255, 255, 0.5);
  float: right;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

#owner-button {
  height: 20%;
  width: 35%;
  background: rgba(255, 255, 255, 0.5);
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

#adopt-button {
  z-index: 1;
  height: 20%;
  width: 482px;
  background: rgba(255, 255, 255, 0.5);
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

.adoption-img-container {
  width: 50%;
  display: block;
  margin-left: 400px;
  margin-right: auto;
}

.adoption-img img {
  width: 482px;
}

.fancy-text {
  font-family: 'Pacifico', cursive;
  font-size: 26px;
}

hr {
  margin-left: 0;
  margin-right: 0;
}
