<h2>Current Owners</h2>
<p class="new-title"><a href="/owners/new">Add new owner</a></p>

<% @owners.each do |owner| %>
  <% if owner.name != nil %>
<p><span class="fancy-text"><%= owner.name %></span></p>
  <% end %>
<p>Pet(s):
<% if owner.animals.length != 0 %>
  <% owner.animals.each do |animals| %>
    <%= animals.name %>
  <% end %>
<% else %>
  None
<% end %>
</p>
<hr/>
<% end %>
