<h2>Current Owners</h2>

<% @owners.each do |owner| %>
<p><span class="bold-text"><%= owner.name %></span></p>
<p>Pet(s):

<% if owner.animals[0] != nil %>
  <%= owner.animals.each['name'] %>
<% end %>

</p>

<a href="/owners/<%= owner.id %>">Edit</a>

<hr/>
<% end %>
