<h2>Current Owners</h2>

<% @owners.each do |owner| %>
<p><span class="bold-text"><%= owner.name %></span></p>
<p>Pet</p>
<a href="/owners/<%= owner.id %>">Edit</a>

<hr/>
<% end %>

<% for owner in @owners %>
<li>
<p><%= owner.animals %></p>
</li>
<% end %>
