<h2>Current Owners</h2>

<% @owners.each do |owner| %>
<p><span class="bold-text"><%= owner.name %></span></p>
<p>Pet(s):
<% if owner.animals.length != 0 %>
  <% owner.animals.each do |animals| %>
    <%= animals.name %>
  <% end %>
<% else %>
  Not adopted
<% end %>


</p>


<hr/>
<% end %>
