<h2>Current Owners</h2>

<% @owners.each do |owner| %>
<p><span class="bold-text"<%= owner.name %></span></p>
<p>Pet</p>
<p><%= owner['id'].animals %></p>
<a href="/owners/<%= owner.id %>">Edit</a>

<hr/>
<% end %>
