<h2>Current Owners</h2>

<% @owners.each do |own| %>
  <% @animals.each do |animal| %>
  <h3>Name</h3>
<p><%= own.name %></p>
<p>Pet</p>
<p><%= animal.owner %></p>
<a href="/owners/<%= own.id %>">Edit</a>

<hr/>
  <% end %>
<% end %>
