<h2>Add a new Owner</h2>

<form class="" method="POST" action="/owners/index">
  <p><label for="name">Name:</label>
  <input type="text" name="name">

  <p><input type="submit" value="Submit"></p>
</form>
